body{
    font-family: 'Ubuntu', sans-serif;
}

#product-overview {
    background-color: rgb(231, 133, 76);
}

.section-title{
    color:aquamarine;
}

/*combinator*/
#product-overview h1{
    color:rgb(228, 212, 212);
    font-family: 'Lusitana', serif;
}

h1{
    font-family: 'Courier New', Courier, monospace;
}